BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: None
BreakConstructorInitializers: AfterColon
BreakBeforeBraces: Attach
SortIncludes: true
PointerAlignment: Left
DerivePointerAlignment: false
SpacesBeforeTrailingComments: 1
SpaceBeforeParens: ControlStatements
